---
import Github from "public/logo/github.svg"
import { Mail, Phone, MapPin } from "lucide-react"

import "@/styles/globals.css"
import Layout from "@/layouts/Layout.astro"

import { ModeToggle } from "@/components/mode-toggle"
import Download from "@/components/download.astro"

const { PDF_VIEW } = import.meta.env

const { Content, frontmatter } = await import("@/content/resume.md")
---

<Layout title="Jonggwang Park - Resume">
  {
    !PDF_VIEW && (
      <div class="container mx-auto flex justify-end gap-4 items-center py-4">
        <Download href="/resume.pdf" />
        <ModeToggle client:load />
      </div>
    )
  }
  <main class={!PDF_VIEW ? "container mx-auto sm:my-12 bg-white dark:bg-slate-900 px-6 py-8 sm:px-8 sm:py-10 shadow-lg rounded-md overflow-hidden" : "container mx-auto px-8 py-10 overflow-hidden"}>
    <!-- Profile -->
    <div>
      <div class="space-y-2">
        <h1 class="text-4xl font-bold tracking-tight">
          {frontmatter.author}
        </h1>
        <p class="text-2xl text-slate-700 dark:text-slate-400">
          {frontmatter.position}
        </p>
      </div>
    </div>

    <div class="mt-4 flex flex-wrap gap-2 sm:gap-4 flex-col sm:flex-row">
      <div class="flex items-center gap-2">
        <Github class="w-4 h-4 text-foreground" />
        <a href={frontmatter.github} class="font-light text-sm hover:underline hover:underline-offset-2">{frontmatter.github}</a>
      </div>
      <div class="flex items-center gap-2">
        <Mail className="w-4 h-4" />
        <a href={`mailto:${frontmatter.email}`} class="font-light text-sm hover:underline hover:underline-offset-2">{frontmatter.email}</a>
      </div>
      <div class="flex items-center gap-2">
        <Phone className="w-4 h-4" />
        <span class="font-light text-sm">{frontmatter.phone}</span>
      </div>
      <div class="flex items-center gap-2">
        <MapPin className="w-4 h-4" />
        <span class="font-light text-sm">{frontmatter.location}</span>
      </div>
    </div>

    <!-- Content -->
    <article class="mdx pt-4">
      <Content />
    </article>
  </main>
</Layout>

<style>
  .mdx {
    h2 {
      @apply text-3xl font-bold mt-10 mb-6 tracking-tight;
    }

    h3 {
      @apply text-xl font-semibold [&:not(:first-child)]:mt-6;
    }

    p {
      @apply text-sm text-slate-700 dark:text-slate-300 leading-relaxed;
    }

    ul {
      @apply list-disc list-inside text-slate-700 dark:text-slate-300 text-sm pl-2 space-y-2 mt-2;

      & > li > ul {
        @apply pl-6;
        list-style-type: circle;
      }

      & > li > ul > li > ul {
        list-style-type: square;
      }
    }

    strong {
      @apply tracking-wider font-bold;
    }

    hr {
      @apply border-border -mx-8 mt-10;
    }
  }
</style>
